*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li{
  cursor: pointer;
}

a{ text-decoration: none; }

body {
    font: 100% Sans-serif ;
   
}
:root{
  --black-primary: #000000;
  --white-primary: #fff;
  --white-secondary: rgba(255, 255, 255, 0.5);
  --gray-primary: #626262; 
  --orange-primary: #F07E15; 

  /* typography */
  --font-family-poppins: 'Poppins';
  --font-family-syne: 'Syne';
  --font-family-worksans: 'Work Sans';
}
